body {
        background-color: red;
        width: 100%;
    }

h1 {
    font-size: 20px;
}

p {
    font-size: 15px;
}

@media only screen and (min-width: 300px) {
    body {
        background-color: green;
    }
    h1 {
        font-size: 30px;
    }
    p {
        font-size: 25px;
    }
    #small {
        width: 66%;
        float: left;
    }
    #medium {
        width: 33%;
        float: left;
    }
    #large {
        width: 100%;
        float: left;
    }
}

@media only screen and (min-width: 768px) {
    body {
        background-color: blue;
    }
    h1 {
        font-size: 40px;
    }
    p {
        font-size: 35px;
    }
    #small, #medium, #large {
        width: 33%;
        float: left;
    }
}