body {
        background-color: red;
        padding: 20px;
    }

#large, #medium {
    display: none;
}

@media only screen and (min-width: 300px) {
    body {
        background-color: green;
        font-size: 30px;
    }
    #small {
        display: none;
    }
    #medium {
        display: block;
    }
}

@media only screen and (min-width: 768px) {
    body {
        background-color: blue;
        font-size: 80px;
    }
    #small, #medium {
        display: none;
    }

    #large {
        display: block;
    }
}